.bag {
	height: 80vh;
	width: 80%;
	margin: 0 auto;
}

.emptyBag{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
}

.emptyBag h3{
	font-size: 15px;
}

.emptyBag p{
	font-size: 15px;
	margin-top: 5px;
}

.bag h3 {
	margin-bottom: 0;
	font-size: 16px;
}

.bag p {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 15px;
}

.bag button {
	padding: 1%;
}

.bag .MuiSvgIcon-root {
	font-size: 100px;
}

.bag__content {
	width: 100%;
	height: 100%;
}

.bag__checkout {
	display: flex;
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 425px){
	.emptyBag__button{
		height: fit-content;
		padding: 2px;
	}
}

